
/* Estructura */

.addModal{
    width: 89vw;
    height: 78vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
}

.left__section{
    width: 375px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.right__section{
    flex: 1;
    height: 100%;
}

/* Contenido */

.buttons__wrapper{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.menu__wrapper{
    flex: 1;
    overflow-y: scroll;
}

.grid__wrapper{
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 10px;
}
