.wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
}

/* Item */

.item{
    background-color: var(--color-visualization);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 46px;
    outline: none;
}

.item--opened{
    height: auto;
}

.item:focus-visible{
    border: 1px solid var(--color-secondary)
}

/* Header */

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    padding: 12px;
    gap: 10px;
}

.header img{
    width: auto;
    height: 18px;
}

.header__icons{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 7px
}

.header__icons svg{
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    width: 16px;
    height: auto;
}
.header__icons svg:hover,
.header__icons svg:focus-visible{
    opacity:1
}

.revertIcon svg{
    transform: rotate(-180deg);
}

/* Devices */

.devices{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
}

.device{
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    overflow-x: hidden;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.device--selected,
.device:hover,
.device:focus-visible{
    opacity: 1
}