.layout {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}



.usuarios{
  width: 100%;
}

.button__wrapper{
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}



.element__header {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.element__header h3 {
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.element__header hr {
  flex: 1;
  height: 1px;
  background-color: var(--color-secondary);
}





/* DETALLES DEL USUARIO SELECCIONADO */


.userInfo{
  margin-top: 20px;
  min-width: 500px;

  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 40vw;
}

.userDetails{
  display: flex;
  gap: 20px;
}

.userDetails img{
  max-width: 200px;
  max-height: 300px;
}

.userDetails ul{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.userDetails ul li{
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  transition: all 0.3s ease-in-out;
}


.imagePlaceholder{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-image-bg);
  width: 200px;
  height: 270px;
}

.imagePlaceholder img,
.imagePlaceholder svg{
  width: 70px;
}

.imageWrapper{
  height: 270px;
  width: 200px;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}




/* MODAL ADD & UPDATE */

.buttonImageInput{
  height: 100%;
  width: 100%;
  /* aspect-ratio: calc(200/270); */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212121;

  background-size: cover !important;
  background-position: center !important;
}

.buttonImageInput img{
  width: 60px;
  height: 60px;
}

/* Tabla */
.table__content {
    height: calc(100vh - 345px);
    overflow-y: scroll;
}

/* Tabla */
.table__content__logs {
    height: calc(100vh - 560px);
    overflow-y: scroll;
}


@media (max-width: 1200px) {
  .layout{
    flex-flow: column wrap;
  }

  .userInfo{
    width: 100%;
  }

}
