.license {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    width: 100%;
}

.licenses {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    width: 100%;
}

.button__wrapper{
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25px;
}
  
  