.navOption{
    width: 100%;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    opacity: 0.4;
    transition: 0.3s ease-in-out ;
    transition-property: opacity;
    outline: none;
}
.navOption:hover,
.navOption:has(:focus-visible),
.navOption--selected{
    opacity: 1;
}

.navOption__border {
    min-width: 3px;
    height: 100%;
    position: absolute;
    border-left: 3px solid var(--red);
}

/* Icono */

.accesible__icon{
    margin-left: 29px;
}
.subOption .accesible__icon{
    margin-left: 17px;
}

.accesible__icon img,
.accesible__icon svg{
    width: 19px !important;
    height: 19px !important;
    object-fit: contain;
}

/* Texto */

.navOption p {
    position: absolute;
    left: 60px;
    width: 500px;
    font-size: 16px;
    font-weight: var(--regular);
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.subOption p{
    left: 47px
}

.hide__text {
    color: transparent;
}

/* Submenú */

.subMenu{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 38px;
}

.subMenu--popup{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 217px;
    width: fit-content;
    position: fixed;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    z-index: 10;
    background-color: var(--color-primary-overlay);
    backdrop-filter: blur(20px);
    padding: 18px 0 5px 14px
}

/* Separator */

.separator{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-border);
    min-height: 1px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Alerta */

.alerta{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--red);
    position: relative;
    top: -12px;
    left: -1px
}

/* Arrow */

.arrow{
    position: absolute;
    left: 267px;
}

.arrow svg{
    width: 14px;
    height: auto;
    transition: all 0.2s ease-in-out;
}
.arrow--opened svg{
    transform: rotate(-180deg);
}