.form__wrapper {
    display: flex;
    flex-direction: column;
    height: 265px;
}

.form {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 15px;
}

.form__wrapper h2 {
    font-family: Krona One;
    font-weight: var(--regular);
    font-size: 20px;
}

.description {
    font-weight: var(--light);
    font-size: 16px;
    min-height: 36px;
}

/* Inputs */

.form__wrapper input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: rgba(249, 249, 249, 0.05);
    border: 0.75px solid var(--color-border);
    padding-left: 10px;

    transition: border 0.3s ease-in-out;

    font-weight: var(--regular);
    font-size: 16px;
}

.form__wrapper input::placeholder {
    font-family: var(--text-font);
    font-size: 15px;
    font-weight: var(--regular);
}

.form__wrapper input:hover,
.form__wrapper input:focus {
    border: 0.75px solid rgba(var(--color-secondary-rgb), 0.5);
}

.form__input--error {
    background: rgba(233, 54, 54, 0.05) !important;
    border: 0.75px solid rgba(233, 54, 54, 0.3) !important;
}

.error {
    position: absolute;
    font-weight: var(--regular);
    font-size: 14px;
    color: var(--red);
    max-width: 225px;
}

/* Buttons */

.button {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 40px;
    border-radius: 10px;
    border: 0.75px solid rgba(var(--color-secondary-rgb), 0.75);
    padding: 20px;
    cursor: pointer;
    margin-top: 50px;
    transition: all 0.3s ease-in-out;

    font-family: var(--text-font);
    font-weight: var(--regular);
    font-size: 16px;
}

.button:hover,
.button:focus-visible {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    outline: none
}

.button--disabled {
    background-color: var(--color-secondary);
    color: var(--color-primary)
}

.forgotten__password {
    font-weight: var(--regular);
    font-size: 14px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    margin-top: 10px;
    margin-left: auto;
}

.forgotten__password:hover,
.forgotten__password:focus-visible {
    opacity: 0.9;
}

.forgotten__password:disabled {
    opacity: 0.5 !important;
}

.return__button {
    margin-top: 15px;
    font-weight: var(--regular);
    font-size: 16px;
    align-self: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.return__button:hover,
.return__button:focus-visible {
    opacity: 0.9;
}