.wrapper {
    height: 100vh;
    width: 100vw;
}

.background {
    width: 100%;
    height: 100%;
}

/* Navbar */

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    height: 100vh;
    width: 694px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary-overlay);
    backdrop-filter: blur(var(--blur-overlay));
    padding: 30px 45px 40px 45px;
    overflow-y: scroll;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.header svg {
    height: 45px;
    width: auto;
}

/* Lenguaje */

.language {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.language:hover img,
.language:hover h3,
.language--open h3,
.language--open img {
    opacity: 1 !important;
}

.language h3 {
    font-weight: var(--regular);
    font-size: 16px;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

.language svg {
    width: 15px;
    height: auto;
    object-fit: contain;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

.language__selector {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 7px;
    right: 0;
    top: 25px;
    width: 200px;
    max-height: 200px;
    min-height: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    height: 0;
    padding: 0 10px 0 10px;
    overflow-y: scroll;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}

.language--open .language__selector {
    padding: 15px 10px 15px 10px;
    height: max-content;
    border-top: 1px solid var(--color-secondary);
}

.language__selector p {
    opacity: 0.7;
    font-size: 15px;
    font-weight: var(--regular);
    line-height: 17.75px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: none;
    border-radius: 5px;
}

.language__selector p:hover,
.language--selected {
    opacity: 1 !important;
}

.language__selector p:focus-visible {
    border: 1px solid var(--color-secondary)
}

/* Login */

.login {
    flex-shrink: 0;
    margin-left: 76px;
    margin-right: 76px;
    position: relative;
}

.login__header {
    margin-bottom: 55px;
}

.login__header h2 {
    font-family: Korataki;
    font-weight: var(--bold);
    font-size: 32px;
    letter-spacing: 0.2em;
}

.login__header h3 {
    font-family: var(--text-font);
    font-weight: var(--regular);
    font-size: 16px;
    opacity: 0.8;
    letter-spacing: 2px;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
}

.footer p {
    text-transform: uppercase;
    font-weight: var(--regular);
    font-size: 16px;
}