.downloads__wrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15px;
    right: 40px;

    border-radius: 5px;
    background-color: rgba(var(--color-primary-rgb), 0.9);
    border: 1px solid var(--color-border);
    z-index: 22;
    width: 300px;
    padding: 0 13px 5px 13px;
    overflow: hidden;
    height: 45px;
    color: var(--color-secondary)
}
.opened{
    height: auto;
}

.title{
    display: flex;
    gap: 13px;
    min-height: 45px;
    align-items: center;
    flex-shrink: 1;
}

.downloadIcon{
    width: 17px;
    height: 17px;
}

.dropdownIcon{
    color: var(--color-secondary);
    user-select: none;
    position: absolute;
    right: 13px;
    width: 13px !important;
    height: auto !important;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    transition-property: opacity;
}
.dropdownIcon:hover{ 
    opacity: 1;
}
.opened .dropdownIcon{
    transform: rotate(180deg);
}

.list{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 160px;
}