.images__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img__wrapper{
    width: 33.3333%;
    aspect-ratio: 16/9;
    padding: 4px;
    margin-bottom: 1px;
    overflow: hidden;
    position: relative;
    color: var(--white)
}

.empty__camera{
    width: 100%;
    aspect-ratio: 16/9;
    background-color: var(--color-visualization);
}

.image{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

/* solucionar bug react-sortable-hoc en modal (al arrastrar la imagen se ve por detrás)  */
.sortableHelper {
    z-index: 20 !important;
}

.no__image{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16/9;
    width: 100%;
    background-color: var(--black);
    user-select: none;
    text-transform: uppercase;
}

.title{
    user-select: none;
    position: absolute;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.75) 100%
    );
    width: calc(100% - 8px);
    padding: 7px;
    height: 50px;
    font-family: var(--text-font);
    font-size: 15px;
    font-weight: var(--regular);
}