.wrapper {
    height: fit-content;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transition-property: background-color;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 1% cover 20%;
    outline: none;
}

.wrapper:focus-visible,
.wrapper:hover,
.wrapper--selected {
    background-color: var(--color-primary-hover)
}

.wrapper:focus-visible {
    border: 1px solid var(--color-secondary)
}

.wrapper hr {
    background-color: var(--color-border);
    width: 100%;
    height: 1px;
}

.section--column {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.section--row {
    display: flex;
    gap: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image__wrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
    background: var(--color-image-bg);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.image__wrapper img {
    transition: all 0.3s ease-in-out;
}

.wrapper:hover .image__wrapper img {
    transform: scale(1.2);
}

.first__line {
    display: flex;
    justify-content: space-between;
}

.second__line {
    display: flex;
    gap: 5px
}

.center__wrapper {
    display: flex;
    gap: 5px;
}

.icons__wrapper {
    display: flex;
    gap: 15px;
    height: 22px;
}

.icons__wrapper img,
.icons__wrapper svg {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.separator {
    width: 0px;
    height: 20px;
    border-left: 1px solid var(--color-border);
    margin: 0 5px 0 5px
}

.info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
}

.info span {
    width: 7.5px;
    height: 7.5px;
    border-radius: 10px;
}

/* estilos texto */

.wrapper h3 {
    font-size: 14px;
    font-weight: var(--regular);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.wrapper h2 {
    font-size: 16px;
    font-weight: var(--bold);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.wrapper p {
    opacity: 0.75;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.section--row h3 {
    opacity: 0.75;
}

.description {
    height: 54px;
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 3 !important;
    line-clamp: 3 !important;
    font-size: 15px;
    font-weight: var(--regular);
    opacity: 0.7;
    white-space: wrap !important;
}

@keyframes reveal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}