.map{
    height: 100%;
    width: 100%;
}

/* quito borde azul de selección que salía al clicar mapa */
.gm-style iframe + div {
    border:none!important;
}

/* color fondo mapa que se ve al hacer zoom out */
.map > div{
    background-color: var(--darker) !important;
}

/* infoWindow: le quito estilos por defecto al popup */
.gm-style-iw{
    padding: 0rem !important;
    background-color: transparent !important;
    box-shadow: none !important;
    overflow: visible !important;
}
.gm-style-iw-c{
    border-radius: 0px !important;
    box-shadow: none !important;
}
button.gm-ui-hover-effect {
    visibility: hidden !important;
}
.gm-style-iw-d {
    overflow: visible !important; 
}
/* punta inferior del popup */
.gm-style-iw-tc {
    display: none !important
}