/* estilos del buscador mapLibre */

/* Lo pongo a la izquierda*/
.maplibregl-ctrl-top-right {
    left: 20px !important;
    top: 10px !important;
    right: auto !important;
}

.maplibregl-ctrl-top-right .maplibregl-ctrl{
    float: left !important;
    width: 330px !important;
}

/* wrapper */
.maplibregl-ctrl-geocoder{
    font-family: var(--text-font) !important;
    background-color:  var(--color-map-overlay) !important;
    backdrop-filter: blur(20px) !important;
    border-radius: 5px !important;
    border: 1px solid var(--color-map-overlay-border) !important;
    box-shadow: none !important;
}

/* input */
.maplibregl-ctrl-geocoder--input{
    color: var(--color-secondary) !important;
    outline: none !important;
}

/* Iconos */
.maplibregl-ctrl-geocoder--icon{
    fill: var(--color-secondary) !important;
    opacity: 0.9;

}

/* Botón limpiar input */
.maplibregl-ctrl-geocoder--button{
    background-color: transparent !important;
}

/* Sugerencias */
.maplibregl-ctrl-geocoder .suggestions{
    position: fixed !important;
    background-color:  var(--color-primary) !important;
    backdrop-filter: blur(20px) !important;
    border: 1px solid var(--color-map-overlay-border) !important;
    color: var(--color-secondary) !important;
    top: calc(100% + 4px) !important;
}

.maplibregl-ctrl-geocoder .suggestions a{
    transition: all 0.2s ease-in-out !important;
    color: var(--color-secondary) !important
}

.maplibregl-ctrl-geocoder .suggestions a:hover,
.maplibregl-ctrl-geocoder .suggestions .active a {
    background-color: var(--color-primary-hover) !important;
    color: var(--color-secondary) !important
}


.maplibregl-ctrl-geocoder--result-icon{
    display: none !important
}

/* tiene por defecto las siguientes @media a 640px. Lo reduzo a 300 para que no se vea grande en pantalla pequeña  */
@media screen and (min-width: 300px) {
    .maplibregl-ctrl-geocoder {
        width: 33.3333% !important;
        font-size: 15px !important;
        line-height: 20px !important;
        max-width: 360px !important;
    }
}

@media screen and (min-width: 300px) {
    .maplibregl-ctrl-geocoder--icon-search {
        left: 7px !important;
        width: 20px !important;
        height: 20px !important;
    }
}

@media screen and (min-width: 300px) {
    .maplibregl-ctrl-geocoder--icon {
        top: 6px !important;
    }
}

@media screen and (min-width: 300px) {
    .maplibregl-ctrl-geocoder--input {
        height: 31px !important;
        padding: 0px 35px !important;
    }
}

@media screen and (min-width: 300px) {
    .maplibregl-ctrl-geocoder--icon-close {
        width: 16px !important;
        height: 16px !important;
        margin-top: -1px !important;
        margin-right: 0 !important;
    }
}

@media screen and (min-width: 300px) {
    .maplibregl-ctrl-geocoder .suggestions {
        font-size: 14px !important;
    }
}