.pagination {
    margin-top: auto;
    justify-content: center !important;
    display: flex;
    gap: 10px;
  }
  
  .pagination-item {
    font-family: var(--text-font);
    font-size: 0.8rem;
    background-color: var(--color-primary) !important;
    color: var(--color-secondary) !important;
    width: 30px;
    height: 30px;
    border-radius: 0.5rem !important;
    -webkit-border-radius: 0.5rem !important;
    -moz-border-radius: 0.5rem !important;
    -ms-border-radius: 0.5rem !important;
    -o-border-radius: 0.5rem !important;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .pagination-item:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
  }
  
  .pagination-item:first-of-type {
    border-radius: 0.5rem !important;
    -webkit-border-radius: 0.5rem !important;
    -moz-border-radius: 0.5rem !important;
    -ms-border-radius: 0.5rem !important;
    -o-border-radius: 0.5rem !important;
  }
  
  .pagination-item:last-of-type {
    border-radius: 0.5rem !important;
    -webkit-border-radius: 0.5rem !important;
    -moz-border-radius: 0.5rem !important;
    -ms-border-radius: 0.5rem !important;
    -o-border-radius: 0.5rem !important;
  }
  
  .pagination-item.active {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
  }