/*Tipografías*/
/*Korataki*/
@font-face {
  font-family: "Korataki";
  src: url("../assets/fonts/Korataki UltraLight.otf");
  font-weight: 100 199;
}
@font-face {
  font-family: "Korataki";
  src: url("../assets/fonts/Korataki ExtraLight.otf");
  font-weight: 200 299;
}
@font-face {
  font-family: "Korataki";
  src: url("../assets/fonts/Korataki Light.otf");
  font-weight: 300 399;
}
@font-face {
  font-family: "Korataki";
  src: url("../assets/fonts/Korataki Book.otf");
  font-weight: 400 599;
}
@font-face {
  font-family: "Korataki";
  src: url("../assets/fonts/Korataki Regular.otf");
  font-weight: 600 799;
}
@font-face {
  font-family: "Korataki";
  src: url("../assets/fonts/Korataki Bold.otf");
  font-weight: 800 999;
}

/*var(--text-font)*/
@font-face {
  font-family: "Jetbrains Mono";
  src: url("../assets/fonts/Jetbrains_Mono.ttf");
}

/*Krona One*/
@font-face {
  font-family: "Krona One";
  src: url("../assets/fonts/KronaOne-Regular.ttf");
}

:root {

  /*Fonts*/
  --text-font: "Jetbrains Mono", monospace;
  --title-font: "Korataki Normal", sans-serif;
  --title-font-light: "Korataki Light", sans-serif;
  --title-font-extralight: "Korataki ExtraLight", sans-serif;
  --title-font-book: "Korataki Book", sans-serif;
  --title-font-bold:  "Korataki Bold", sans-serif;
  --krona-font: "Krona One", sans-serif;

  --light: 100;
  --regular: 300;
  --bold: 700;

  /* Colores */
  --input_border: #f9f9f940;
  --black: #212121;
  --darker: #161616;
  --white: #f9f9f9;
  --red: #E93636;
  --green: #4CD984;
  --green--light: #BEF0D2;
  --orange: #FFAB49;
  --yellow: #FFE37E;
  --pink: #E72584;
  --blue: #6692DB;
  --purple: #AE6BCC;
}

/* Tema claro */
body.light {

  /* rgb - Para poder cogerlos desde cualquier archivo y ponerle la opacidad que se quiera: rgb(var(--color-primary-rgb), 0.623) */
  --color-primary-rgb: 249, 249, 249;
  --color-primary-rgb-pure: 255,255,255;
  --color-secondary-rgb: 22, 22, 22;
  --color-secondary-rgb-pure: 0, 0, 0;

  /* Color primario */
  --color-primary: rgb(var(--color-primary-rgb)); /* Fondo */
  --color-primary-hover: rgb(var(--color-secondary-rgb), 0.067); /* Ej: Hover Card */

  /* Color primario transparente (NabBar, RightBar, etc) */
  --color-primary-overlay: rgb(var(--color-primary-rgb), 0.94);
  --blur-overlay: 8px;

  /* Color secundario */
  --color-secondary: rgb(var(--color-secondary-rgb)); /* Textos, iconos*/

  /* Colores elementos comunes */
  --color-device-bg: var(--color-primary);
  --color-border: rgb(var(--color-secondary-rgb), 0.251);
  --color-image-bg: rgb(var(--color-secondary-rgb), 0.063);
  --color-hint: rgba(var(--color-secondary-rgb-pure), 0.6);
  --color-inputItems: rgb(var(--color-secondary-rgb), 0.067);
  --color-dimmer: rgb(var(--color-primary-rgb-pure), 0.85);
  --color-dropdown: rgb(235, 235, 235);
  --color-timeline: rgb(var(--color-secondary-rgb), 0.12);
  --color-button: rgb(var(--color-primary-rgb));

  /* AnalysisCard, RecognitionCity, StatsCard etc */
  --color-visualization: rgba(30, 30, 30, 0.06);
  --color-visualization-hover: rgba(var(--color-secondary-rgb), 0.17);

  /* Mapa */
  --color-map-overlay:  rgba(var(--color-primary-rgb-pure), 0.251);
  --color-map-overlay-border: rgba(var(--color-secondary-rgb), 0.169);
  --color-kpi-border: rgba(var(--color-secondary-rgb), 0.169);
}

/* Tema oscuro */
body.dark {
  --color-primary-rgb: 22, 22, 22;
  --color-primary-rgb-pure: 0, 0, 0;
  --color-secondary-rgb: 249, 249, 249;
  --color-secondary-rgb-pure: 255, 255, 255;

  --color-primary: rgb(var(--color-primary-rgb));
  --color-primary-hover: rgb(var(--color-secondary-rgb), 0.067);

  --color-primary-overlay: rgb(var(--color-primary-rgb), 0.5);
  --blur-overlay: 20px;

  --color-secondary: rgb(var(--color-secondary-rgb));

  --color-device-bg: rgb(var(--color-primary-rgb-pure));
  --color-border: rgb(var(--color-secondary-rgb), 0.251);
  --color-image-bg: rgb(var(--color-secondary-rgb), 0.063);
  --color-hint: rgba(51, 51, 51, 0.502);
  --color-inputItems: transparent;
  --color-dimmer: rgb(var(--color-primary-rgb), 0.75);
  --color-dropdown: rgba(0, 0, 0, 0.25);
  --color-timeline: rgb(var(--color-secondary-rgb), 0.1);
  --color-button: rgb(17 ,17, 17);

  --color-visualization: rgba(var(--color-primary-rgb-pure), 0.251);
  --color-visualization-hover: rgba(var(--color-secondary-rgb), 0.125);

  --color-map-overlay:  rgba(var(--color-primary-rgb-pure), 0.251);
  --color-map-overlay-border: rgba(var(--color-secondary-rgb), 0.169);
  --color-kpi-border: transparent;
}
